.card-next {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: auto;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: thin solid var(--color-verdoso);
  padding: 1rem;
  text-decoration: none;

  & > .data-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;

    & > .card-title {
      margin: 0;
      text-wrap: nowrap;
      color: var(--color-naranja);
    }

    & > .card-desc {
      margin: 0;
      color: var(--color-verdoso);
      font-weight: bold;
    }
  }

  & > svg {
    width: 30px;
    height: 30px;
    stroke-width: 3;
    stroke: var(--color-verdoso);
  }

  &:hover{
    background-color: var(--color-verdoso);

    & .card-title {
       color: var(--color-darkblue);
      font-weight: bold;
    }

    .card-desc {
      color: var(--color-darkblue);
    }
    
    & > svg {
      stroke: var(--color-darkblue);
    }
  }

  @media ( width <= 768px){
    margin-top: 3rem; 
    margin-bottom: 0;
    
    & > .data-card {
      font-size: 1rem;
    }
  }
}