* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-verdoso: #53c9b2; 
  --color-darkblue: #0a0f1e;
  --color-light-darkblue: #101828;
  --color-decorador: #192238;
  --color-naranja: #fb8f51;
}

body{
  background-color: var(--color-darkblue);
  width: 100%;
  min-height: 100dvh;
  display: flex;
  font-family: monospace;
}

nav-sidebar {
  display: contents;

  @media ( width <= 768px) {
    display: none;
  }
}

next-challenge-card {
  display: contents;
}

main {
  flex: 1;
  padding: 1rem;
  margin-inline: auto;
  min-height: 100dvh;
  width: 100%;
  position: relative;
}

.menu-opc {
  background-color: var(--color-darkblue);
  
  h1 {
    color: var(--color-verdoso);
    font-size: 3.5rem;
    text-align: center;
    font-weight: 900;

    @media ( width < 768px ){
      font-size: 3rem;
      text-wrap: balance;
    }
  }

  h2 {
    color: var(--color-naranja);
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-inline: auto;
    text-wrap: nowrap;

    @media( width > 764px){
      &::after, &::before {
        content: '';
        height: 0px;
        flex-grow: 1;
        border: 1px solid var(--color-naranja);
      }
    }
  }

  .grid-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    max-width: 80%;
    margin-inline: auto;
    margin-block: 3%;

    @media (width < 764px){
      grid-template-columns: repeat(3, 1fr);
      margin-block: 10%;
    }
  }

  .menu-card {
    text-decoration: none;
    padding: 0.5rem;
    background-color: var(--color-light-darkblue);
    border: thick solid var(--color-decorador);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.2s ease-in-out;

    & > .text {
      color: var(--color-verdoso);
      font-size: 1.3rem;
      transition: all 0.2s ease;
    }

    & > .number {
      color: var(--color-naranja);
      font-size: 2.5rem;
      transition: all 0.2s ease;
    }

    &:hover{
      transform: scale(1.05);
      box-shadow: 0px 0px 1px 0.5px var(--color-verdoso);

      & > .text{
        transform: scale(0.8);
      }
      & > .number{
        transform: scale(1.2);
      }
    }
  }
}