section{
  position: relative;

  & > button {
    color:white;
    background-color: transparent;
    font-weight: bolder;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.2rem 0.7rem;
    border-radius: 100%;
    font-size: 1.5rem;
    border: 0.2rem dashed var(--color-verdoso);
    cursor: pointer;
    transition: all 0.1s ease-in;

    &:hover {
      border: 0.2rem dashed var(--color-naranja);
    }
  }

  & > [popover] {
    max-width: 10%;
    position: absolute;
    right: -85%;
    top: -55%;
    padding: 0.8rem;

    border-radius: 0.3rem;
    border: 3px double var(--color-naranja);
    background-color: var(--color-verdoso);


    & > strong {
      display: block;
      font-size: 1rem;
    }

    /* &::after {
      content: "";
      position: absolute;
      top: -1rem;
      right: 0.7rem;
      width: 0;
      height: 0;
      border-bottom: 15px solid var(--color-verdoso);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      animation: bounce 1s ease-in-out infinite;
    } */



  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(-5px);
  }
}
