section {
  max-width: 70%;
  margin-inline: auto;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding-bottom: 15%;

  & > h1 {
    color: var(--color-naranja);
    font-size: 2rem;
    text-align: center;
    text-wrap: balance;
  }

  & > p {
    font-size: 1.1rem;
    color: white;
    line-height: 1.4rem;
  }

  strong{
    color: var(--color-verdoso);
  }

  video{
    width: 30%;
    margin: 0 auto;
  }

  @media (width <= 768px){
    max-width: 90%;
    padding-bottom: 30%;

    video {
      width: 80%;
    }
  }
}